#root {
  /*margin: 0 auto;*/
  /*text-align: center;*/

}

button.navpage{
  box-shadow: 1px 1px 5px #1f1f34;

}

button.counter{
  background-color: #0d1a21;
  box-shadow: 3px 3px 6px black;
}



div.hello {
  color: #1a1a1a;
  background-color: darkcyan;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black ;
  width: 90%;
  text-align: start;

  margin-top: 10px;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
}

div.contentholder{
  background-color: #1a1a1a;
  width: 60%;
  min-height: 400px;
  align-content: center;
  border-radius: 10px;
  box-shadow: 3px 3px 5px black;
  margin-bottom: 50px;


}


div {
  margin: auto;
  text-align: center;
}
/*button {*/
/*  margin: auto;*/
/*}*/

div.counterholder {
  background-color: #1a1a1a;
  margin: 10px;
  width: fit-content;

  border-radius: 10px;
  box-shadow: 3px 3px 5px black;
  padding: 5px;
  position: fixed;
  bottom: 0px;
}

h1{
  color: cyan;
  box-shadow: 3px 3px 5px black;
  background-color: #1a1a1a;
  width: fit-content;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

img{
  width: 80%;
  border-radius: 10px;
}
img:hover{
  /*animation-name: bigger;*/
  /*animation-duration: .5s;*/
  /*animation-timing-function: ease-in;*/
  /*width: 80%;*/
  transition-timing-function: ease-in;
  transition-duration: .2s;
  transform: scale(1.01);
}





@keyframes bigger {
  from{width: 80%}
  to{width: 90%}


}
