#root {
  /*margin: 0 auto;*/
  /*text-align: center;*/

}

button.navpage{
  box-shadow: 1px 1px 5px #1f1f34;

}



div.hello {
  color: #1a1a1a;
  background-color: darkcyan;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black ;
  width: 90%;
  text-align: start;

  margin-top: 10px;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
}

div.contentholder{
  background-color: #1a1a1a;
  width: 60%;
  border-radius: 10px;
  box-shadow: 3px 3px 5px black;


}


div {
  margin: auto;
  text-align: center;
}
/*button {*/
/*  margin: auto;*/
/*}*/

h1{
  color: cyan;
  box-shadow: 3px 3px 5px black;
  background-color: #1a1a1a;
  width: fit-content;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}

img{
  width: 80%;
  border-radius: 10px;
}